

.myicon_sina_weibo_f {
    background: url(svg_icons/full_icons/sina_weibo_f.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.myicon_tencent_weibo_f {
    background: url(svg_icons/full_icons/tencent_weibo_f.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.myicon_wechat_f {
    background: url(svg_icons/full_icons/wechat_f.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.myicon_wechat_moment_f {
    background: url(svg_icons/full_icons/wechat_moment_f.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.myicon_youku_f {
    background: url(svg_icons/full_icons/youku_f.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.myicon_zhihu_f {
    background: url(svg_icons/full_icons/zhihu_f.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.myicon_alipay_f {
    background: url(svg_icons/full_icons/alipay_f.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_youdao_note_f {
    background: url(svg_icons/full_icons/alipay_f.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.myicon_taobao_f {
    background: url(svg_icons/full_icons/alipay_f.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_qq_f {
    background: url(svg_icons/full_icons/qq_f.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_qzone_f {
    background: url(svg_icons/full_icons/qzone_f.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_renren_f {
    background: url(svg_icons/full_icons/renren_f.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_dianping_f {
    background: url(svg_icons/full_icons/dianping_f.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_douban_f {
    background: url(svg_icons/full_icons/douban_f.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_sina_weibo_l {
    background: url(svg_icons/line_icons/sina_weibo_l.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_tencent_weibo_l {
    background: url(svg_icons/line_icons/tencent_weibo_l.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_wechat_l {
    background: url(svg_icons/line_icons/wechat_l.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_wechat_moment_l {
    background: url(svg_icons/line_icons/wechat_moment_l.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_youku_l {
    background: url(svg_icons/line_icons/youku_l.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_zhihu_l {
    background: url(svg_icons/line_icons/zhihu_l.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_alipay_l {
    background: url(svg_icons/line_icons/alipay_l.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_youdao_note_l {
    background: url(svg_icons/line_icons/alipay_l.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_taobao_l {
    background: url(svg_icons/line_icons/alipay_l.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_qq_l {
    background: url(svg_icons/line_icons/qq_l.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_qzone_l {
    background: url(svg_icons/line_icons/qzone_l.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_renren_l {
    background: url(svg_icons/line_icons/renren_l.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_dianping_l {
    background: url(svg_icons/line_icons/dianping_l.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_douban_l {
    background: url(svg_icons/line_icons/douban_l.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.myicon_sina_weibo_c {
    background: url(svg_icons/circle_icons/sina_weibo_c.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.myicon_tencent_weibo_c {
    background: url(svg_icons/circle_icons/tencent_weibo_c.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.myicon_wechat_c {
    background: url(svg_icons/circle_icons/wechat_c.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_wechat_moment_c {
    background: url(svg_icons/circle_icons/wechat_moment_c.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_youku_c {
    background: url(svg_icons/circle_icons/youku_c.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_zhihu_c {
    background: url(svg_icons/circle_icons/zhihu_c.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_alipay_c {
    background: url(svg_icons/circle_icons/alipay_c.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_youdao_note_c {
    background: url(svg_icons/circle_icons/alipay_c.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_taobao_c {
    background: url(svg_icons/circle_icons/alipay_c.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_qq_c {
    background: url(svg_icons/circle_icons/qq_c.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_qzone_c {
    background: url(svg_icons/circle_icons/qzone_c.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_renren_c {
    background: url(svg_icons/circle_icons/renren_c.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.myicon_dianping_c {
    background: url(svg_icons/circle_icons/dianping_c.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.myicon_douban_c {
    background: url(svg_icons/circle_icons/douban_c.svg);
    display: inline-block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
